main{
    padding-top: 100px;
    width: 100%;
    overflow: auto;
    background-color: #f3f3f3;

    .carousels{
        padding-left: 10px;
        padding-right: 10px;
    }

    .body{
        padding-left: 40px;
        padding-right: 40px;

    }
}
