.contain {
  display: block;

  .card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .fp {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .input-form {
      width: 330px;
      height: 55px;
      background-color: #fff;
      border-radius: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }

    .input-form input {
      margin: 20px;
      width: 500px;
      height: 100%;
      background-color: transparent;
      outline: none;
    }

    .input-form span {
      cursor: pointer;
    }
  }
  .sub {
    margin-left: 100px;
    margin-bottom: 100px;
    a {
      background-color: #fd3d9b;
      color: #fff;
      border: 1px solid #fd3d9b;
      position: relative;
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;
      font-size: 24px;
      overflow: hidden;
      transition: 0.5s;
    }
  
    a:hover {
      color: #255784;
      background-color: #FF9C33;
      box-shadow: 0 0 10px #FF9C33, 0 0 40px #FF9C33, 0 0 10px #FF9C33;
      transition-delay: 0.2s;
    }
  }

  .error-tag {
    margin-bottom: 20px;
    color: red;
    margin-left: 75px;
    font-family: 'Times New Roman', Times, serif;

    .error {
        .row-error {
            display: flex;
            align-items: center;
            margin-top: 5px;
          }
          
          .row-error div {
            margin-right: 10px;
          }
    }
  }
}
