.contain {
  display: block;

    .input-group-text{
      max-width: 150px;
      width: 100%;
    }
    .invalid-feedback{
      padding-left: 150px;
    }
    .icon{
      margin-top: 10px;
    }
}
